@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="row">
    <div class="col-4 offset-4">
        <div asp-validation-summary="ModelOnly"></div>
        <form method="post">
            <div class="form-group">
                <label asp-for="Username" class="font-weight-bold">Username</label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="font-weight-bold">Password</label>
                <input asp-for="Password" type="password" class="form-control"/>
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-inline"/>
                    <label asp-for="RememberMe" class="form-check-label">Remember Me</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>