@using Microsoft.EntityFrameworkCore.Internal

@{
    ViewBag.Title = "Home Page";
}

    <div class="row text-center">
        <h2 class="offset-3 col-6">Welcome to my example MVC website about running</h2>
    </div>
